html, body {
    background-color: #222;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;

}
nav{
    max-width: 97%;
}
.app{
    width: 100%;
}
.section{
    color: white;
    padding-top: 20px;
    max-width: 100%;
    margin: 5px;
}

.heading{
    font-size: 26px; 
    font-weight: bold;
}
.description{
    color: grey;
}

/*Discover artists*/
.x-list{
    overflow-x:scroll;
  overflow-y:hidden;
  
  /* Styling */
  height:150;
}
.cards{
    width: auto;
  white-space:nowrap; 

  /* Styling */;
  height: 150;
}

.card{
    display: inline-block;
  
  /* Styling */
  background-color: black;
  border: 1px solid grey;
  width: 150;
  height:150;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 9px;
}
.card-text{
    color: orange;
    font-size: 16px; 
    font-weight: bold;

}

.section-content{
    width: 100%;
    display: block;
}

/*Song*/
.song{
    display: flex;
    flex-wrap: nowrap;
    background-color: #223;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    margin-top: 6px;
}
.song-data{
    width: 65%;
    margin-left: 5px;
    margin-top: 5px;
}

.song-art{
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.song-artist{
    color: orange;
    font-size: 0.8rem;

}
.song-name{
    font-size: 0.8rem;
    white-space: nowrap;
  overflow: hidden;
   /*text-overflow: ellipsis;*/
}

.song-btns{
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
}

.song-like-btn{
    color: pink;
    font-size: 0.6rem;
}

.song-share-btn{
    color: green;
    padding-left: 20px;
    font-size: 0.6rem;
}
.buy{
    display: block;
}
.buy-btn{
    padding-top: 20px;
    margin-left: -8px;
    font-size: .7rem;
}

