<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="q1-rule">
                    <match url="^([a-z0-9_\-]+)$" />
                    <action type="Rewrite" url="index.php?q1={R:1}" appendQueryString="true" />
                </rule>
                <rule name="q2-rule">
                    <match url="^([a-z0-9_\-]+)/([a-z0-9_\-]+)$" />
                    <action type="Rewrite" url="index.php?q1={R:1}&amp;q2={R:2}" appendQueryString="true" />
                </rule>
                <rule name="q3-rule">
                    <match url="^([a-z0-9_\-]+)/([a-z0-9_\-]+)/([a-z0-9_\-]+)$" />
                    <action type="Rewrite" url="index.php?q1={R:1}&amp;q2={R:2}&amp;q3={R:3}" appendQueryString="true" />
                </rule>
                <rule name="q4-rule">
                    <match url="^([a-z0-9_\-]+)/([a-z0-9_\-]+)/([a-z0-9_\-]+)/([a-z0-9_\-]+)$" />
                    <action type="Rewrite" url="index.php?q1={R:1}&amp;q2={R:2}&amp;q3={R:3}&amp;q4={R:4}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
