<div class="page-content">
    <div class="section">
        <h1 class="heading">Discover artists</h1>
        <p class="description">Discover artists from all over south africa</p>
        <div class="x-list">
            <div class="cards">
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="./img/Die.jpeg" class="card-img-top" height="250" width="250" alt="...">
                  <div class="card-body">
                    <p class="card-text">Die Mondez</p>
                  </div>
                </div>
        </div>
    </div>
    </div>
    <div class="section">
        <h1 class="heading">Hot new releases</h1>
        <p class="description">Editors Choice</p>
        <div class="section-content">
          <div class="song row">
            <div class="col-2">
              <img src="./img/Die.jpeg" alt="" class="song-art">
            </div>
            <div class="song-data col">
              <div class="song-name">Grind everyday</div>
              <div class="song-artist">Die Mondez</div>
              <div class="song-btns col">
                <span class="song-like-btn">like</span>
                <span class="song-share-btn">share</span>
              </div>
            </div>
            <div class="buy col-2">
              <button class="buy-btn btn btn-success">R5.00</button>
            </div>
          </div>
          <div class="song row">
            <div class="col-2">
              <img src="./img/Die.jpeg" alt="" class="song-art">
            </div>
            <div class="song-data col">
              <div class="song-name">MozelTov</div>
              <div class="song-artist">Die Mondez</div>
              <div class="song-btns col">
                <span class="song-like-btn">like</span>
                <span class="song-share-btn">share</span>
              </div>
            </div>
            <div class="buy col-2">
              <button class="buy-btn btn btn-success">R5.00</button>
            </div>
          </div>
        </div>
        
    </div>
    <div class="section">
        <h1 class="heading">Top 5 songs</h1>
    </div>
    <!-- <div class="section">
        <h1 class="heading">News</h1>
    </div>  --> 
</div>
